// Place all the styles related to the labReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.buttonAddMarkMainPage{
  float: left;
  margin-right: 50px;
}


.mark{ 
  float: left;
  width: 160px;
}

.description{
  height: 350px;
  width: 550px;
}

.saveReportButton{
  margin-left: 250px;
}

.title{
  width: 535px; 
}

.alertLabReport {
  color: red;
  text-align: center;
  margin-right: 600px;
}


.showBlock{
  margin-top: 10%;
  margin-left: 25%;
}