
<div style=" padding-left: 950px; padding-right: 200px;padding-bottom: 200px;padding-top: 400px; ">
  <%= form_for :mark, url: lab_report_marks_path do |f| %>
    <% if @mark.errors.any? %>
      <% @mark.errors.full_messages.each do |msg| %>
        <div class= "alertMark ">
          <%= msg%>
        </div>
      <% end %>
    <% end %>
    
    <p >
      mark <br>
      <%= f.text_field :points%>
    </p>

    <p >
      <%= f.submit "Save"%>
    </p>
  <% end %>
</div>
