

<h1 style="text-align:center;padding-top: 200px">Create labs report</h1>

<div style=" padding-left: 750px; padding-right: 200px;padding-bottom: 200px; ">
  <%= form_for :lab_report, url: lab_reports_path do |f| %>
    <% if @lab_report != nil%>
      <% if @lab_report.errors.any? %>
        <% @lab_report.errors.full_messages.each do |msg| %>
          <div class= "alertLabReport">
            <%= msg%>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <p >
      title <br>
      <%= f.text_field :title, :class => 'title'%>
    </p>

    <p >
      description<br>
      <%= f.text_area :description, :class => 'description' %>
    </p>

    <p >
      <%= f.submit "Save", :class => 'saveReportButton'%>
    </p>
  <%end%>
</div>

