
<h1 style="text-align:center">
  Labs reports
</h1>

<div style=" padding-left: 300px; padding-right: 300px;padding-bottom: 200px;">
  <%= button_to 'Add report', new_lab_report_path,:method => :get, class: 'buttonAddReportMainPage' %>

    <% @lab_report.each do |item|%>
      <h3>
        <%= item.title%>
      </h3>
      
      <p>
        <%= item.description%>
      </p>

    <%if item.mark == nil %>
      <%= button_to 'Add mark', new_lab_report_mark_path(item.id),:method => :get, class: 'buttonAddMarkMainPage' %>  
    <%else%>
      <div class="mark">
        <%= item.mark.points %>
        <%= "("%>
        <%=item.mark.letter %>
        <%= ")"%>
      </div>
    <%end%>
<% if item.errors.any? %>
      <% item.errors.full_messages.each do |msg| %>
        <div class= "alertLabReport">
          <%= msg%>
        </div>
      <% end %>
    <% end %>
    <%if item.mark == nil%>
      <%= button_to 'remove', '/', :method => :get, data: { disable_with: 'There is nothing to remove!' }, class: 'buttonRemoveMarkFakeMainPage' %>
    <%else%>
      <%= button_to 'remove', lab_report_mark_path(item.id, item.mark.lab_report_id), :method => 'delete',  data: { confirm: 'Are you sure?' }, class: 'buttonRemoveMarkMainPage' %>
    <%end%>
  <%end%>
</div>

