<div class="showBlock">
  <h1> 
    <%= @lab_report.title %> 
  </h1>

  <p> 
    <%= @lab_report.description %> 
  </p>

  <p>
    <%= link_to '/' do %>
    <%= button_tag('Main page', type: 'submit')%>
    <%end%>
  </p>

</div>