// Place all the styles related to the Marks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.alertMark{
  color: red;
  text-align: center;
  margin-right: 700px;
}